<!-- // 独立写一个file， 为了共享。 // 当form send 一个东西， 叫name， for server to
get obj. // eg. body.name() // ejs 中， 写进的<%%> 中的， 都会以html 的形成
display -->

<label>Name</label>
<input type="text" name="name" value="<%= author.name%>" />
